$baseUrl: '~@/assets/';
/* 不带单位正常颜色，D颜色较深(D2,D3越深),S颜色较浅(S2,S3越浅) */
$color: ( 
	100:#1B2733,
	100S:#384959,
	100S2:#2E3A46,
	200: #fff,
	200S:#F5F5F5,
	200S1: #E6E6E6,
	200S2: #f1f1f1,
	300: #3DDBCD,
	400D3:#333333,
	400: #767676,
	400S1:#DADADA,
	400S2:#D0D0D0,
	500D1:#347AB8,
	500:#007AFF,
	500S1:#00AEFF,
	500S2:#479DFE,
	600: #EB3941,
);

$tab: (
	100: #7EADB4,
	200: #58889C,
	300: #F36A5A,
	400: #2B94E7,
	500: #19BD9B,
	600: #E9A913,
);

$grade:(
	100:#007AFF,
	200:#1ABC9C,
	300:#F36A5A
);

$localtion:(
	100: #4CA6FC,
	200:#E8A913,
	300:#D81E06
);

$calendar:(
	100: #fff,
	200: #1ABC9C,
	300:#2B94E7,
	400: #333333,
	500:#767676,
	600:#f1f1f1
);